flows.json
[{"type":"tab","id":"443a047.7eccffc","label":"Flow 1"},{"type":"tab","id":"60607583.0afe4c","label":"Flow 3"},{"id":"bfdfdf65.334fe","type":"subflow","name":"get image","info":"","in":[{"x":50,"y":30,"wires":[{"id":"93f42d0f.31567"}]}],"out":[{"x":777,"y":262,"wires":[{"id":"32357978.350566","port":0},{"id":"d5c3aa67.0742e8","port":0}]}]},{"id":"f6de243f.096f98","type":"google-credentials-youtube","z":"443a047.7eccffc","displayName":"CLP22"},{"id":"820a097c.e3ead8","type":"mongodb","z":"","hostname":"ds031647.mlab.com","port":"31647","db":"red-r","name":""},{"id":"65f3c9e4.b6fe38","type":"inject","z":"443a047.7eccffc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":69,"wires":[["c44df05d.b95bf"]]},{"id":"c44df05d.b95bf","type":"http request","z":"443a047.7eccffc","name":"","method":"GET","ret":"txt","url":"http://feed.nerdcast.com.br/","x":163,"y":138,"wires":[["b82c622b.25325"]]},{"id":"e0c771d0.c9da6","type":"xml","z":"443a047.7eccffc","name":"","attr":"","chr":"","x":223,"y":196,"wires":[["3383457c.74852a"]]},{"id":"47a14062.d919","type":"function","z":"443a047.7eccffc","name":"","func":"msg.payload = msg.payload.rss.channel[0].item.reverse().map(function(e){\n    return {\n        payload: e\n    }\n})\nreturn msg;","outputs":1,"noerr":0,"x":372,"y":194,"wires":[["67192c7f.6cdb94"]]},{"id":"e3725d1e.f5ef6","type":"function","z":"443a047.7eccffc","name":"Podcast info","func":"var podcast = {}\npodcast.title = msg.payload.title[0]\npodcast.url = msg.payload.enclosure[0].$.url\npodcast.guid = msg.payload.guid[0]._\npodcast.link = msg.payload.link[0]\n//podcast.summary = msg.payload['itunes:summary'][0]\n\nmsg.podcast = podcast;\ndelete msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":629,"y":165,"wires":[["2d1d547d.71295c"]]},{"id":"2d1d547d.71295c","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"podcast","x":733,"y":244,"wires":[]},{"id":"25dac19b.9ce2ee","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"podcast.url","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"audio.mp3","tot":"str"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"},{"t":"delete","p":"statusCode","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":127,"y":402,"wires":[["b5840d75.85a6e","92558301.698f9"]]},{"id":"ecc00b19.53cad8","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"set","p":"url","pt":"msg","to":"podcast.image","tot":"msg"},{"t":"set","p":"filename","pt":"msg","to":"image.jpg","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":117,"y":471,"wires":[["d53e82f6.53256"]]},{"id":"d53e82f6.53256","type":"http request","z":"443a047.7eccffc","name":"","method":"GET","ret":"bin","url":"","x":296,"y":471,"wires":[["77e20da2.8872b4","c65cb055.0b921"]]},{"id":"77e20da2.8872b4","type":"file","z":"443a047.7eccffc","name":"","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"true","x":467,"y":473,"wires":[]},{"id":"26d56385.811f9c","type":"delay","z":"443a047.7eccffc","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":293,"y":562,"wires":[["ab694560.fb3608"]]},{"id":"83095c50.1443e","type":"function","z":"443a047.7eccffc","name":"FFMPEG IMAGE + MP3","func":"ffmpeg = global.get('ffmpeg');\nnode.status({})\nffmpeg()\n    .input('audio.mp3')\n    .input('image.jpg')\n    .loop()\n    .audioCodec('aac')\n    .videoCodec('libx264')\n    .size('640x480')\n    .on('error', function(err) {\n        console.log('An error occurred: ' + err.message);\n    })\n    .on('start', function() {\n        console.log('start');\n    })\n    .on('end', function() {\n        console.log('Finished processing');\n        node.status({text:'done'})\n        node.send(msg);\n    })\n    .on('progress', function(progress) {\n        console.log('Processing: ' + progress.percent + '% done');\n        node.status({text:\"\"+progress.percent.toFixed(2) + '% done'})\n    })\n    .outputOptions('-strict experimental')\n//    .outputOptions('-tune stillimage')\n    .outputOptions('-shortest')\n    .toFormat('mp4')\n    .save('out.mp4');","outputs":1,"noerr":0,"x":251,"y":649,"wires":[["9c0dc31d.2b201","888622a2.a484e"]]},{"id":"9c0dc31d.2b201","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"false","x":499,"y":609,"wires":[]},{"id":"c65cb055.0b921","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":271,"y":518,"wires":[["26d56385.811f9c","7cb82949.c076e8"]]},{"id":"7cb82949.c076e8","type":"file","z":"443a047.7eccffc","name":"","filename":"out.mp4","appendNewline":true,"createDir":false,"overwriteFile":"delete","x":486,"y":519,"wires":[]},{"id":"3861bf50.f0f47","type":"http request","z":"443a047.7eccffc","name":"","method":"GET","ret":"txt","url":"","x":172,"y":1191,"wires":[["e559594b.5a46b8"]]},{"id":"613ddf0c.d2103","type":"html","z":"443a047.7eccffc","name":"","tag":"meta[property=\"og:image\"]","ret":"attr","as":"multi","x":167,"y":1086,"wires":[["3383eda9.521ee2"]]},{"id":"e20c1761.af4478","type":"http request","z":"443a047.7eccffc","name":"","method":"GET","ret":"txt","url":"","x":294,"y":1030,"wires":[["613ddf0c.d2103"]]},{"id":"e559594b.5a46b8","type":"html","z":"443a047.7eccffc","name":"","tag":"img[alt=\"Podcast\"]","ret":"attr","as":"multi","x":371,"y":1186,"wires":[["185fc5c4.50ac2a"]]},{"id":"c2b76b8d.6391e8","type":"switch","z":"443a047.7eccffc","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"jpg","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":191,"y":1140,"wires":[["4fed5742.ece568"],["3861bf50.f0f47"]]},{"id":"3383eda9.521ee2","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":403,"y":1086,"wires":[["c2b76b8d.6391e8"]]},{"id":"185fc5c4.50ac2a","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"set","p":"podcast.image","pt":"msg","to":"payload.src","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":566,"y":1187,"wires":[["11683eeb.356611"]]},{"id":"4fed5742.ece568","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"set","p":"podcast.image","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":535,"y":1137,"wires":[["11683eeb.356611"]]},{"id":"b82c622b.25325","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":352,"y":139,"wires":[["e0c771d0.c9da6"]]},{"id":"8474d043.3213c","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"podcast.link","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":129,"y":1031,"wires":[["e20c1761.af4478"]]},{"id":"11683eeb.356611","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"podcast","x":759,"y":1171,"wires":[]},{"id":"deac123e.0b6d6","type":"http request","z":"bfdfdf65.334fe","name":"","method":"GET","ret":"txt","url":"","x":202,"y":354,"wires":[["df31148e.99d528"]]},{"id":"ae3e004d.ef94b","type":"html","z":"bfdfdf65.334fe","name":"","tag":"meta[property=\"og:image\"]","ret":"attr","as":"multi","x":203,"y":191,"wires":[["318cdb8.37d5624"]]},{"id":"33f79d28.70f4a2","type":"http request","z":"bfdfdf65.334fe","name":"","method":"GET","ret":"txt","url":"","x":377,"y":133,"wires":[["ae3e004d.ef94b"]]},{"id":"df31148e.99d528","type":"html","z":"bfdfdf65.334fe","name":"","tag":"img[alt=\"Podcast\"]","ret":"attr","as":"multi","x":408,"y":352,"wires":[["d5c3aa67.0742e8"]]},{"id":"1ff51c16.4be5f4","type":"switch","z":"bfdfdf65.334fe","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"jpg","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":227,"y":245,"wires":[["32357978.350566"],["88fea07.259626"]]},{"id":"318cdb8.37d5624","type":"change","z":"bfdfdf65.334fe","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":439,"y":191,"wires":[["1ff51c16.4be5f4"]]},{"id":"d5c3aa67.0742e8","type":"change","z":"bfdfdf65.334fe","name":"","rules":[{"t":"delete","p":"headers","pt":"msg"},{"t":"set","p":"podcast.image","pt":"msg","to":"payload.src","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":606,"y":350,"wires":[[]]},{"id":"32357978.350566","type":"change","z":"bfdfdf65.334fe","name":"","rules":[{"t":"set","p":"podcast.image","pt":"msg","to":"payload.content","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":541,"y":242,"wires":[[]]},{"id":"93f42d0f.31567","type":"change","z":"bfdfdf65.334fe","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"podcast.link","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":177,"y":134,"wires":[["33f79d28.70f4a2"]]},{"id":"cd8faf5f.8dff7","type":"subflow:bfdfdf65.334fe","z":"443a047.7eccffc","x":481,"y":277,"wires":[["25dac19b.9ce2ee","47f358f5.c45bb8"]]},{"id":"67192c7f.6cdb94","type":"yield","z":"443a047.7eccffc","x":488,"y":195,"wires":[["e3725d1e.f5ef6"]]},{"id":"3ad5dfd4.236bb","type":"mongodb out","z":"60607583.0afe4c","mongodb":"820a097c.e3ead8","name":"","collection":"nerdcast","payonly":false,"upsert":false,"multi":false,"operation":"store","x":511,"y":324,"wires":[]},{"id":"9b9a63ae.e50f4","type":"inject","z":"60607583.0afe4c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":119,"y":335,"wires":[["3ad5dfd4.236bb"]]},{"id":"3383457c.74852a","type":"function","z":"443a047.7eccffc","name":"","func":"msg.payload = msg.payload.rss.channel[0].item[88]\nreturn msg;","outputs":1,"noerr":0,"x":185,"y":274,"wires":[["7eb5963b.d23c28"]]},{"id":"888622a2.a484e","type":"youtube-upload","z":"443a047.7eccffc","google":"f6de243f.096f98","name":"","title":"podcast.title","titleType":"msg","description":"podcast.summary","descriptionType":"msg","privacyStatus":"private","mediapath":"out.mp4","mediapathType":"str","x":520,"y":693,"wires":[["aa5a7932.597ab8"]]},{"id":"aa5a7932.597ab8","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"false","x":733,"y":663,"wires":[]},{"id":"ab694560.fb3608","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"true","x":524,"y":564,"wires":[]},{"id":"7eb5963b.d23c28","type":"function","z":"443a047.7eccffc","name":"Podcast info","func":"var podcast = {}\npodcast.title = msg.payload.title[0]\npodcast.url = msg.payload.enclosure[0].$.url\npodcast.guid = msg.payload.guid[0]._\npodcast.link = msg.payload.link[0]\n//podcast.summary = msg.payload['itunes:summary'][0]\n\nmsg.podcast = podcast;\ndelete msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":331,"y":276,"wires":[["cd8faf5f.8dff7"]]},{"id":"24527cc3.bbddf4","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"true","x":620,"y":444,"wires":[]},{"id":"47f358f5.c45bb8","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"true","x":669,"y":336,"wires":[]},{"id":"92558301.698f9","type":"http request","z":"443a047.7eccffc","name":"","method":"GET","ret":"txt","url":"","x":363,"y":415,"wires":[["24527cc3.bbddf4"]]},{"id":"88fea07.259626","type":"change","z":"bfdfdf65.334fe","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":193,"y":299,"wires":[["deac123e.0b6d6"]]},{"id":"b5840d75.85a6e","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"true","x":357,"y":364,"wires":[]},{"id":"1ede003c.ba2c5","type":"http request","z":"443a047.7eccffc","name":"","method":"GET","ret":"bin","url":"","x":371,"y":818,"wires":[["c6edae66.cbf04"]]},{"id":"c6edae66.cbf04","type":"debug","z":"443a047.7eccffc","name":"","active":true,"console":"false","complete":"true","x":561,"y":831,"wires":[]},{"id":"a3d8a09.be0686","type":"inject","z":"443a047.7eccffc","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":739,"wires":[["fd0dbe88.1dc4b"]]},{"id":"fd0dbe88.1dc4b","type":"change","z":"443a047.7eccffc","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"http://nerdcast.jovemnerd.com.br/nerdcast_438_historias_de_faculdade_2.mp3","tot":"str"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":177,"y":819,"wires":[["1ede003c.ba2c5"]]}]